/* You can add global styles to this file, and also import other style files */
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 0.9;
  }




  .content {
    margin: 5% auto 2%;
    padding-bottom: 4%;
  }

  #my-btn{
    color: #642822;
  }


  html, body {
    max-width: 100%;
    overflow-x: hidden;
}
a.nav-link{
    color: white;
}

a.nav-link:hover{
    color: #B1746F;
}
a.nav-link:active{
    color: #8F3931;
}


.my-mr2{
    margin-right: 2%;
}

.my-ml2{
    margin-left: 2%;
}